<!doctype html>
<html lang="br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="/static/estilo.css">

  <title>JM veículos</title>
  </head>
  <body>
    <header>
      <div class="boxlogo">
        
        <div class="logo">
          <img src="" alt="">
        </div>

        <div class="titu">
          <h1><em>JM VEÍCULOS</em></h1>
        </div>


      </div>
      

      <nav>
        <ul>
          <li> <a href="/adicionar"> Cadastrar Veículo </a></li>
          <li><a href="/lista"> Veículos </a></li>
          <li> <a href="/alterar"> Alterar veiculo</a></li>
        </ul>

      </nav>
    </header>

    <section>

      <div class="box">
        <div class="imagem">
          <img src="/static/Range Rover Evoque (01).jpg">

        </div>
        <div class="paragrafo">

          <p>
            Bem-vindo à nossa concessionária de veículos, onde realizamos o sonho da mobilidade com excelência. Aqui você encontrará uma ampla seleção de carros de alta qualidade e um atendimento personalizado para ajudá-lo a encontrar o veículo ideal para suas necessidades. Venha nos visitar e descubra a experiência única de adquirir seu próximo automóvel conosco.
          </p>
        </div>
        
      </div>

    </section>

    <!-- <footer> rodapé
      <div class="conta"></div>
      <p>Todos os direitos reservados</p>
      <div class="residencial"></div>
    </footer> -->


  </body>
</html>